<div class="input-group time-picker">
    {{#power-select
        class=className
        triggerId=triggerId
        noMatchesMessage=noMatchesMessage
        destination=destination
        disabled=disabled
        allowClear=allowClear
        renderInPlace=renderInPlace
        searchEnabled=searchEnabled
        selected=selectedTime
        onchange=(action "onchange")
        onkeydown=(action "onkeydown")
        onopen=(action "onopen")
        onclose=(action "onclose")
        onfocus=(action "onfocus")
        onblur=(action "onblur")
        options=times as |time|}}
      {{time}}
    {{/power-select}}
</div>
